table {
    border: 1px solid rgb(140, 206, 250);

}
.wrapper {
    position: relative;
    display: flex;
}
.content {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 20%;
    /* padding: 10px; */
    /* height: 100%; */
    width: 80%;
    background-color: rgb(245, 245, 246);
    border: 0.1px solid rgb(214, 213, 213);
}
.menu {
    width: 20%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgba(0.2, 0, 0, 0); /* Đổ bóng cạnh phải */
}
.menu-logo {
    justify-items: center;
}
.menu-logo img{
    font-size: 20px;
    height: 70px;
}
.menu-space {
    border: 1px solid rgb(140, 206, 250);
    margin: 0 20px;
}
.menu-list {
    margin: 10px;
    display: flex;
    flex-direction: column;

}
.menu-list__item {
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    margin-top: 14px;
}
.menu-list__item-icon {

}
.menu-list__item-icon-link {

}
.menu-list__item-header {

}
.item-link {

}

/* Header */
.header {
    display: flex;
    height: 70px;
    width: 80%;
    background-color: rgb(158, 206, 248);
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}
.header-nav {
    display: flex;

}
.header-nav__title {
    font-size: 20px;
}
.header-nav__nav {
    display: flex;
}
.header-nav__item {
    font-size: 20px;
    margin: 0 10px;
}
.header-nav__notify {
    /* margin-right: 10px; */
}
.header-nav__search {

}
.header-nav__item-icon {

}
.header-info {
    display: flex;
}
.header-info__profile {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.header-info__profile i {
    font-size: 20px;
    margin-right: 10px;
}
.header i {
    font-size: 20px;
}
.header-info__profile-name {

}
.header-info__setting {

}

